.frame {
    height: 100%;
}

.left-panel {
    height: 100%;
}

.left-panel .menu {
    height: 100%;
    transform: none;
}

.right-panel {
    padding-top: 15px;
}

.proxy-present {
    margin-top: 25px;
}

.bandwidth-upload {
    color: #66b44a;
    font-size: 11px;
}

.bandwidth-download {
    color: #b44a4a;
    font-size: 11px;
}